$grey: #403c3b
$lightGrey: #504b4a
$whiteGrey: #cfcfcf
$greyText: #a6a7ab
$greyGradient: linear-gradient(90deg, #494544 0%, #504B4A 100%)
$greenGradient: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%)
$greenText: #6fa076
$green: #618967
$white: #fff